<!DOCTYPE html>
{% extends "header.html" %}
{% block content %}

<h1> <center> We are InterviewIQ, a group of students coming together to help you succeed!<center></h1>
<p>This webapp is our Software Engineering project at FSU, we came up with the idea because there is no
   easy way to organize interviews, meeting with potential employers, or the numerous career fairs offered.</p>
<p>We wanted to give students/recent grads a way to organize career events and also have a source that will
   help the user with what to wear to these events, and also an FAQ feature.</p>

<p>Creators of InterviewIQ: Holly Culver, Hunter Davis, Elsie Adu, Abigail Perry, Abigail Arreguin </h2>

<style>
   
   
   h1 {
      font-family: "Helvetica Neue";
      font size: 30px;
      background-color: #F5F5F5;
      font color: white;
        
   }
   
   body{
      font-family: "Helvetica Neue";
      font size: 20px;
      background-color: #F5F5F5;
   }
   


{% endblock %}
