<html>
<h1>InterviewIQ</h1>
<p>The following are common interview questions that many interviewers use to get to know their applicants during a face to
face interview and sometimes a phone interview. Save your responses and edit them as you go so they can evolve into thought
through and sophisticated answers. If you're stuck, feel free to check out the helpful tips.</p>

<!-- The below statement is an attempt to create a link that show the interview question tips -->
<!-- After each question asked in an accordion drop down with tips + Do's/Don'ts for answering the questions -->

<br>

<p>Tell me about yourself.</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: This question is super broad for a reason. It can either make you or break you, so make sure to prepare a thoughtful response. Remember, this should feel more like a conversation than a question-answer time. Don&#8217t forget to ask the interviewer questions, too. <br>
		Do: Focus on your career. How did you get here? Where do you want to go? Answer this question by highlighting why you are the best candidate. Spend about 3 minutes on this response. <br>
		Don&#8217t: Tell your life story. Don&#8217t ramble on. Don&#8217t talk about your pets.</p>
</div>


  <p>What are some of your short and long term goals?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Try to incorporate goals that would be great for your role working with this company and not just for your own gain. <br>
		Do: Have well thought out goals that pertain to the position you want. <br>
		Don&#8217t: Mention your fitness goals and diet routine.</p>
</div>

  <p>Why should we hire you? What do you bring to the table?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Be confident. You made it to a face to face interview, so be proud. <br>
		Do: Sell yourself. Talk about all the strengths you have that you know they are looking for. Talk about the how or why more than the what. Example: I am always on time and meet deadlines vs I am reliable. <br>
		Don&#8217t: Simply state what&#8217s already listed on the job description. </p>
</div>

  <p>Why do you want to work here? What do you know about this company and position?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Research everything there is to know about the company. If you come into contact with someone who already works for the same company, name drop during the interview. <br>
		Do: Know everything about the company. Be thoughtful with your responses. Make sure you have read the job description.  <br>
		Don&#8217t: Talk about other companies you want to work for. Don&#8217t talk about other salaries that were offered to you. </p>
</div>

  <p>What are you expecting as far as compensation?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Use the word, compensation instead of pay or salary and feel free to ask about benefits too. <br>
		Do: Avoid asking for details. If they call you and offer you a job, that might be a better time to discuss details.<br>
		Don&#8217t: Talk about compensation in an informal way. Don&#8217t negotiate.</p>
</div>

  <p>What are your strengths and weaknesses?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: When talking about your weakness, turn it into a learning process and pair it with a strength. <br>
		Do: Be confident. If you&#8217re not confident about your strengths then the interviewer might not believe that those are your strengths. Talk about how it has become a strength, the process.  <br>
		Don&#8217t: Say you don&#8217t have any weaknesses. No one is perfect. Not even batman.</p>
</div>

  <p>Why do you want to leave your current job? Why did you leave your previous job?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: If you bash your old job, your current boss will feel uncomfortable and probably won&#8217t want to hire someone who speaks so poorly of those in authority. <br>
		Do: Pair a compliment from your previous/current boss or environment with a reason why you left or are leaving. Be respectful of those who aren&#8217t present.<br>
		Don&#8217t: Bash your current/previous boss. Don&#8217t complain about your current/previous work environment.</p>
</div>

 <p>How would your previous/current boss or coworkers describe you?</p>
<form>
<input type="text">
</form>

      <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: This is a great time to answer with your strengths and weaknesses. See your answer for that question.<br>
		Do: Be genuine and honest unless they hated you. <br>
		Don&#8217t: Name all your weaknesses. Don&#8217t say you didn&#8217t get along. </p>
</div>


  <p>Tell me about a time you were in the midst of a stressful situation, and how did you deal with it?</p>
<form>
<input type="text">
</form>


         <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Be genuine. Don&#8217t say you&#8217ve never been stressed. Everyone has and your boss will appreciate your honesty. <br>
		Do: Talk about a situation you were stressed and emphasize the steps you took to fix the situation. Show them that you deal with issues well. <br>
		Don&#8217t: Talk about a stressful situation without a resolution. Be disrespectful about the others involved in the situation.</p>
</div>


  <p>What are your goals for this position?</p>
<form>
<input type="text">
</form>

         <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: Have thoughtful goals that show initiative. Tailor them to the position you&#8217re applying for so they are relevant. But make sure you can follow through. <br>
		Do: Have goals because they are good to have and not just because it&#8217s a great thing to mention in an interview. Be original. <br>
		Don&#8217t: Have a cliche goal. Don&#8217t mention a goal that is unrelated to the position.</p>
</div>

  <p>Tell me about a time you disagreed with a decision that was make at work and how did you deal with it?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: The purpose of this question is to see how well you can deal with authority. Be careful here&#33 <br>
		Do: Say you&#8217ll have a respectful conversation with your boss. Feel free to say you never had to deal with this sort of issue but you would probably ... <br>
		Don&#8217t: Say you will just go around your boss&#8217s back. Don&#8217t say you&#8217ll just ignore your boss&#8217s wishes. Don&#8217t ignore the problem.</p>
</div>

  <p>Do you have any questions for us?</p>
<form>
<input type="text">
</form>

    <button class="accordion">Tips + Do's/Don'ts</button>
<div class="panel">
  <p>Tip: This is a great time to flatter your interviewer by asking them questions. Ask them about their job and why they love it. These types of questions show respect and initiative. ALWAYS ask a question. <br>
		Do: Have thoughtful questions prepared before hand. Know who you are talking to. Ask them specific questions about what they do.  <br>
		Don&#8217t: Ask only about the compensation. Don&#8217t say you don&#8217t have any questions.</p>
</div>


</html>	


<!-- The following is javascript code for the accordion drop down from https://www.w3schools.com/howto/howto_js_accordion.asp -->

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
	/* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");
        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display == "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>


