{% extends "header.html" %}
{% block content %}

<!-- code for the users agenda and upcoming events that will be saved into the database --> 

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

{% if alert %}
<div class="alert alert-info">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ alert }}
</div>
{% endif %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Agenda List</h3>
      </div>
          <ul class="list-group">
            {% for a in agenda %}
            <li class="list-group-item">
              <div class="row toggle" id="dropdown-detail-{{ a['id'] }}" data-toggle="detail-{{ a['id'] }}">
                <div class="col-xs-10">
                    {{ a['eventName']}}
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div id="detail-{{ a['id']}}">
                <hr></hr>
                <div class="container">
                    <div class="fluid-row">
                        <p><b>
                            Event Type</b>: {{ a['eventType'] }}
                        </p>
			<p><b>
                            Location</b>: {{ a['location'] }}
                        </p>
			<p><b>
                            Date</b>: {{ a['date'] }}
                        </p>
			<p><b>
                            Time</b>: {{ a['time'] }}
                        </p>
                        <p><b>
                            Company</b>: {{ a['compName'] }}
                        </p>
                        <p><b>
                            Attire</b>: {{ a['attire'] }}
                        </p>
                        <p><b>
                            Additional Information</b>: {{ a['additional'] }}
                        </p>
			<input name="agendaSubmit" type="submit" value="Delete Entry">
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            </li>
          </ul>
        </div>
      </div>


{% if nextalert %}
<div class="nextalert nextalert-info">
  <a href="#" class="close" data-dismiss="nextalert" aria-label="close">&times;</a>{{ nextalert }}
</div>
{% endif %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Interview Q&A List</h3>
      </div>
          <ul class="list-group">
            {% for a in interview %}
            <li class="list-group-item">
              <div class="row toggle" id="dropdown-detail-{{ a['id'] }}" data-toggle="detail-{{ a['id'] }}" value="Responses">
		<div class="col-xs-10">
                    {{ a['company'] }}
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div id="detail-{{ a['id']}}">
                <hr></hr>
                <div class="container">
                    <div class="fluid-row">
			<p><b>
                            Tell me about yourself.</b>: {{ a['yourself'] }}
                        </p>
                        <p><b>
                            What are some of your short and long term goals?</b>: {{ a['goals'] }}
                        </p>
			<p><b>
                            Why should we hire you? What do you bring to the table?</b>: {{ a['why'] }}
                        </p>
			<p><b>
                            Why do you want to work here? What do you know about this company and position?</b>: {{ a['want'] }}
                        </p>
			<p><b>
                            What are you expecting as far as compensation?</b>: {{ a['expecting'] }}
                        </p>
			<p><b>
                            What are your strengths and weaknesses?</b>: {{ a['strweak'] }}
                        </p>
                        <p><b>
                            Why do you want to leave your current job? Why did you leave your previous job?</b>: {{ a['leave'] }}
                        </p>
                        <p><b>
                            How would your previous/current boss or coworkers describe you?</b>: {{ a['describe'] }}
                        </p>
                        <p><b>
                            Tell me about a time you were in the midst of a stressful situation, and how did you deal with it?</b>: {{ a['situation'] }}
                        </p>
			 <p><b>
                            What are your goals for this position?</b>: {{ a['position'] }}
                        </p>
			 <p><b>
                            Tell me about a time you disagreed with a decision that was make at work and how did you deal with it?</b>: {{ a['decision'] }}
                        </p>
			 <p><b>
                            Do you have any questions for us?</b>: {{ a['questions'] }}
                        </p>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            </li>
          </ul>
        </div>
</div>




<script>
$(document).ready(function() {
    $('[id^=detail-]').hide();
    $('.toggle').click(function() {
        $input = $( this );
        $target = $('#'+$input.attr('data-toggle'));
        $target.slideToggle();
    });
});
</script>
{% endblock %}
