html,
body {
  height: 100%;
  font-family: "Helvetica Neue";
}
body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #444;
  background: #444;
  background-image: -webkit-linear-gradient(#28283b 0%, #0f0f17 100%);
  background-image: linear-gradient(#28283b 0%, #0f0f17 100%);
  font-family: "Helvetica Neue";
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
.calendar-wrapper {
  width: 700px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
table {
  clear: both;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  border-collapse: collapse;
  color: black;
  font-family: "Helvetica Neue";
  
}
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid black;
  border-top: 1px solid black;
  width: 14.28571429%;
}
td.not-current {
  color: black;
}
td.today {
  font-weight: 700;
  color: #444;
  font-size: 1.5em;
}
thead td {
  border: none;
  color: #444;
  text-transform: uppercase;
  font-size: 1.5em;
}
#btnPrev {
  float: left;
  margin-bottom: 20px;
}
#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}
#btnNext {
  float: right;
  margin-bottom: 20px;
}
#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}
#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #black;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#btnPrev:hover,
#btnNext:hover {
  color: black;
  font-weight: bold;
}
